@section metatags{
    <meta name="title" content="About | Olympic Games Sample App" />
    <meta name="description" content="See how easy it is to add data visualization and management functionality to your app. Integrate several Telerik controls with just a few lines of code." />
}

<div class="aboutPage">
    <div class="main" id="aboutArea">
        <h3>What is this sample application about?</h3>

        <p>Olympic Games is a sample application created with Progress &reg; UI for ASP.NET MVC, Progress' <a href="http://www.telerik.com/aspnet-mvc" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/controls']);">ASP.NET MVC wrappers</a> taking care of the common functionality of your application, while leaving you with more time to work on the business logic of the app.</p>
        <p>The app demonstrates how easy it is to provide data visualization and management functionality to your users and how you can integrate several Progress major ASP.NET controls with just a few lines of code.  It showcases the ease of use of our PivotGrid and the intuitiveness and desktop-like performance of the bound on the client, Chart and Gauge.</p>

        <br />
        <br />

        <h3>What was it built with?</h3>

        <ul class="usedProducts">
            <li><span class="sprite chart"></span><a href="http://www.telerik.com/aspnet-mvc/charts" target="_blank" title="Chart for ASP.NET MVC">Telerik Chart for ASP.NET MVC</a></li>
            <li><span class="sprite autocomplete"></span><a href="http://www.telerik.com/aspnet-mvc/autocomplete" target="_blank" title="Telerik AutoComplete offers single and multiple selection, text and token visualization and an optimized performance">Telerik AutoComplete for ASP.NET MVC</a></li>
            <li><span class="sprite pivotgrid"></span><a href="http://www.telerik.com/aspnet-mvc/pivotgrid" target="_blank" title="The ASP.NET MVC PivotGrid control is a powerful data visualization component allowing developers to perform operations over multi-dimensional/pivot data">Telerik PivotGrid for ASP.NET MVC</a></li>
            <li><span class="sprite listview"></span><a href="http://www.telerik.com/aspnet-mvc/listview" target="_blank" title="ListView for ASP.NET MVC">Telerik ListView for ASP.NET MVC</a></li>
            <li><span class="sprite window"></span><a href="http://www.telerik.com/aspnet-mvc/window" target="_blank" title="The MVC Window displays content in an HTML window">Telerik Window for ASP.NET MVC</a></li>
            <li><span class="sprite button"></span><a href="http://www.telerik.com/aspnet-mvc/button" target="_blank" title="Button for ASP.NET MVC">Telerik Button for ASP.NET MVC</a></li>
            <li><span class="sprite slider"></span><a href="http://www.telerik.com/aspnet-mvc/slider" target="_blank" title="MultiSelect for ASP.NET MVC">Telerik MultiSelect for ASP.NET MVC</a></li>
            <li><span class="sprite multiselect"></span><a href="http://www.telerik.com/aspnet-mvc/multiselect" target="_blank" title="ListView for ASP.NET MVC">Telerik ListView for ASP.NET MVC</a></li>
            <li><span class="sprite combobox"></span><a href="http://www.telerik.com/aspnet-mvc/combobox" target="_blank" title="ComboBox for ASP.NET MVC">Telerik ComboBox for ASP.NET MVC</a></li>
        </ul>

        <h3>What are the requirements to run this sample app locally?</h3>

        <p>If you'd like to take a look behind the curtains, <a href="https://github.com/telerik/olympic-games-sample-app-mvc/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/source-download']);">download the source code</a> so you can examine and modify it as you please. In order to run the sample app locally, you need to have the respective or later versions of the following products: </p>

        <ul class="links">
            <li>Progress &reg; UI for ASP.NET MVC <a href="http://www.telerik.com/aspnet-mvc" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/controls']);">Download</a></li>
            <li>Microsoft SQL Server Express <a href="http://www.microsoft.com/en-us/download/details.aspx?id=52679" target="_blank" rel="nofollow">Download</a></li>
            <li>Microsoft .NET framework 4.5 <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653" target="_blank" rel="nofollow">Download</a></li>
            <li>Visual Studio 2015 <a href="https://www.visualstudio.com/downloads/" target="_blank" rel="nofollow">Download</a></li>
        </ul>


    </div>

    @* update with relevant informtion *@
    @*<div class="aside">
        <h3>See more sample apps</h3>

        <h4><a href="http://demos.telerik.com/aspnet-ajax/salesdashboard/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/sales-dashboard']);">Sales dashboard</a></h4>
        <a href="http://demos.telerik.com/aspnet-ajax/salesdashboard/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/sales-dashboard']);"><img src="files/images/otherApplications/sales_dashboard.jpg" alt="Sales dashboard" /></a>

        <h4><a href="http://demos.telerik.com/aspnet-ajax/carrental/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/rent-a-car']);">Rent-a-car</a></h4>
        <a href="http://demos.telerik.com/aspnet-ajax/carrental/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/rent-a-car']);"><img src="files/images/otherApplications/rentCar.jpg" alt="Rent-a-car" /></a>

        <h4><a href="http://demos.telerik.com/aspnet-ajax/webmail/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/web-mail']);">WebMail</a></h4>
        <a href="http://demos.telerik.com/aspnet-ajax/webmail/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/web-mail']);"><img src="files/images/otherApplications/webMail.jpg" alt="WebMail" /></a>

        <h4><a href="http://demos.telerik.com/aspnet-ajax/imagegallery/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/image-gallery']);">Image Gallery</a></h4>
        <a href="http://demos.telerik.com/aspnet-ajax/imagegallery/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/image-gallery']);"><img src="files/images/otherApplications/imageGallery.jpg" alt="Image Gallery" /></a>

        <h4><a href="http://demos.telerik.com/aspnet-ajax/schedulebuilder/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/event-scheduler']);">Event Scheduer</a></h4>
        <a href="http://demos.telerik.com/aspnet-ajax/schedulebuilder/" target="_blank" onclick="_gaq.push(['_trackPageview', '/ajax-olympic-sample-app/event-scheduler']);"><img src="files/images/otherApplications/eventScheduer.jpg" alt="Event Scheduer" /></a>

    </div>*@
</div>
