<meta name="title" content="Kendo PivotGrid and Chart | Olympic Games Sample App" />
<meta name="description" content="Take a look at how easy it is to implement Progress UI for ASP.NET MVC Chart and PivotGrid wrapper to display and manage data." />

<h1>Dummy</h1>
