<meta name="title" content="Kendo PivotGrid and Chart | Olympic Games Sample App" />
<meta name="description" content="Take a look at how easy it is to implement Progress UI for ASP.NET MVC Chart and PivotGrid wrapper to display and manage data." />

<h2>Medals by Country</h2>

<p class="description">
    Wonder how many Olympic medals your country has won throughout the years and how the achievements stack against your neighbors’?<br />
    Select the countries and years of interest below to get the info in an easy-to-understand line Chart and a PivotGrid allowing you to get in-depth details with just a few clicks.
</p>
<div class="box">
    <h3 class="blueTitle">
        Countries
    </h3>
    
    @(Html.Kendo().MultiSelect()
        .Name("SelectedCountries")
        .Placeholder("Select country ...")
        .DataSource(datasource => datasource
            .Read(read => read.Url("/api/countries"))
        )
        .DataTextField("name")
        .DataValueField("id")
        .ItemTemplateId("SelectedCountriesItemTemplate")
        .TagTemplateId("SelectedCountriesItemTemplate")
        .Value(new int[] { 205, 72, 76, 204 })
        .Events(events => events.Change("onChange"))
    )

    <script id="SelectedCountriesItemTemplate" type="text/x-kendo-template">
        <span class='countryFlag #= data.name.toLowerCase().replace(' ', '_') #'></span>#= data.name #
    </script>
</div>
<div class="box">
    <h3 class="redTitle">
        Olympic Years
    </h3>

    @(Html.Kendo().RangeSlider()
        .Name("YearsSlider")
        .HtmlAttributes(new { style = "width: 100%" })
        .Min(1896)
        .Max(2008)
        .SmallStep(4)
        .LargeStep(4)
        .Tooltip(tooltip => tooltip.Format("{0}"))
        .Events(ev => ev.Change("onChange"))
    )
</div>
<div class="box">
    <h3 class="greenTitle">
        Medals - Overview
    </h3>
    @(Html.Kendo().Chart<OlympicGames.Models.MedalsByCountry>()
        .Name("HtmlChartStats")
        .ChartArea(chartArea => chartArea.Background("none"))
        .HtmlAttributes(new { style="height: 300px" })
        .Series(series => series
            .Line(model => model.Medals,categoryExpression: model => model.Year)
            .Name("#= group.value #")
        )
        .CategoryAxis(axis => axis
            .MinorGridLines(grid => grid.Visible(true))
        )
        .DataSource(dataSource => dataSource
            .WebApi()
            .Read(read => read
                .Type(HttpVerbs.Get)
                .Data("getData")
                .Url("/api/results/GetMedalsByCountry")
            )
            .Group(group => group.Add(model => model.Country))
            .Sort(sort => sort.Add(model => model.Year))
        )
        .Tooltip(tooltip => tooltip.Visible(true))
        .Events(events => events.DataBound("onDataBound"))
    )

    <script>
        function onDataBound(e) {
            var axis = e.sender.options.categoryAxis;
            axis.categories = axis.categories.sort();
        }

        function onChange() {
            var pivotGrid = $("#PivotGridStats").data("kendoPivotGrid");
            var pivotDataSourceOp = pivotGrid.dataSource.options;

            pivotGrid.setDataSource(new kendo.data.PivotDataSource(pivotDataSourceOp));
            $("#HtmlChartStats").data("kendoChart").dataSource.read();
        }


        function getData() {
            var countryIds = $("#SelectedCountries").data("kendoMultiSelect").value();
            var rangeSlider = $("#YearsSlider").data("kendoRangeSlider");
            var rangeDates = rangeSlider.value();
            return {
                countryIds: countryIds,
                sportIds: [],
                startYear:rangeDates[0],
                endYear: rangeDates[1]
            }
        }
    </script>
</div>
<div class="box">
    <h3 class="orangeTitle">
        Medals - Details
    </h3>

    @(Html.Kendo().PivotGrid<OlympicGames.Models.PivotGridResultItem>()
        .Name("PivotGridStats")
        .Height(500)
        .DataSource(dataSource => dataSource
            .Ajax()
            .Transport(transport => transport
                .Read(read => read
                    .Type(HttpVerbs.Get)
                    .Url("/api/results/GetPivotGridResultItems")
                    .Data("getData")
                )
            )
            .Schema(schema => schema
                .Cube(cube => cube
                    .Dimensions(dimensions =>
                    {
                        dimensions.Add(model => model.CountryName).Caption("Country Name");
                        dimensions.Add(model => model.MedalType).Caption("Medal");
                        dimensions.Add(model => model.OlympicsGame).Caption("Olympic Game");
                        dimensions.Add(model => model.OlympicsYear).Caption("Olympic Year");
                        dimensions.Add(model => model.SportName).Caption("Sport Name");
                    })
                    .Measures(measures => measures.Add("MedalsCount").Field(model => model.MedalType).AggregateName("count").Caption("Number of medals"))
                )
            )
            .Columns(cols => {
                cols.Add("OlympicsGame").Expand(true);
            })
            .Rows(rows => {
                rows.Add("CountryName").Expand(true);
                rows.Add("MedalType").Expand(true);
            })
            .Measures(measures => measures.Values("MedalsCount"))
        )
        .Reorderable(false)
    )



    <script>
        var paths = [
              //Expand CY 2005 - first dimension
              ["CountryName"],
              //Expand All Products under CY 2015 - second dimension
              ["CountryName&France", "MedalType"]
        ];
    </script>

    @*<telerik:RadPivotGrid ID="RadPivotGridStats" runat="server" OnNeedDataSource="RadPivotGridStats_NeedDataSource"
                          EnableZoneContextMenu="true" ErrorValue="0" AllowSorting="true" AllowPaging="true"
                          AllowFiltering="false" ShowFilterHeaderZone="false" PageSize="20" EmptyValue="0" OnItemCommand="RadPivotGridStats_ItemCommand">
        <SortExpressions>
            <telerik:PivotGridSortExpression FieldName="OlympicsGame" SortOrder="Descending" />
        </SortExpressions>
        <Fields>
            <telerik:PivotGridRowField DataField="CountryName" Caption="Country Name">
            </telerik:PivotGridRowField>
            <telerik:PivotGridRowField DataField="MedalType" Caption="Medal">
            </telerik:PivotGridRowField>
            <telerik:PivotGridAggregateField UniqueName="NumberOfMedals" DataField="MedalType" Aggregate="Count" Caption="Number of medals">
            </telerik:PivotGridAggregateField>
            <telerik:PivotGridColumnField DataField="OlympicsGame" Caption="Olympic Year">
            </telerik:PivotGridColumnField>
            <telerik:PivotGridColumnField DataField="SportName" IsHidden="true" Caption="Sport Name">
            </telerik:PivotGridColumnField>
        </Fields>
        <ClientSettings EnableFieldsDragDrop="true">
            <Scrolling AllowVerticalScroll="true" ScrollHeight="350px" />
        </ClientSettings>
    </telerik:RadPivotGrid>*@

    @*<telerik:RadButton ID="RadButtonShowFilterWindow" runat="server" Text="Show filter window"
                           AutoPostBack="false" OnClientClicked="Clicked" Value="Show">
        </telerik:RadButton>
        <br />
        <br />
        <telerik:RadWindow ID="RadWindowSports" runat="server" AutoSize="true" VisibleStatusbar="false"
                           Behaviors="Close,Move" KeepInScreenBounds="true" Title="Include sports in PivotGrid">
            <ContentTemplate>
                <div style="width: 340px; height: 465px; padding: 10px;">
                    <telerik:RadButton ID="RadButtonUpdate" runat="server" Text="Update PivotGrid" OnClick="RadButtonUpdate_Click">
                    </telerik:RadButton>
                    <telerik:RadButton ID="RadButtonClear" runat="server" Text="Reset" OnClick="RadButtonClear_Click"
                                       Style="margin: 0 0 10px 5px;">
                    </telerik:RadButton>
                    <telerik:RadListBox ID="RadListBoxSports" runat="server" DataSourceID="OpenAccessLinqDataSourceSports"
                                        DataTextField="Name" DataValueField="Id" Width="100%" Height="440px" CheckBoxes="true"
                                        OnDataBound="RadListBoxSports_DataBound" OnClientItemChecked="onItemChecked">
                    </telerik:RadListBox>
                </div>
            </ContentTemplate>
        </telerik:RadWindow>
        *@
</div>
