.countryFlag {background:url("../images/sprite_flags.png") no-repeat -50px 0; display: inline-block; height: 12px; width: 20px; vertical-align: middle;}
.racTokenList .countryFlag {vertical-align: -2px}
.afghanistan{background-position: 0 0;}
.aland_islands{background-position: 0 -21px;}
.albania{background-position: 0 -42px;}
.algeria{background-position: 0 -63px;}
.american_samoa{background-position: 0 -84px;}
.andorra{background-position: 0 -105px;}
.angola{background-position: 0 -126px;}
.anguilla{background-position: 0 -147px;}
.antigua_and_barbuda{background-position: 0 -168px;}
.argentina{background-position: 0 -189px;}
.armenia{background-position: 0 -210px;}
.aruba{background-position: 0 -231px;}
.australasia{background-position: 0 -252px;}
.australia, .heard_island_and_mcdonald_islands{background-position: 0 -272px;}
.austria{background-position: 0 -293px;}
.azerbaijan{background-position: 0 -314px;}
.bahamas{background-position: 0 -335px;}
.bahrain{background-position: 0 -356px;}
.bangladesh{background-position: 0 -377px;}
.barbados{background-position: 0 -398px;}
.belarus{background-position: 0 -419px;}
.belgium{background-position: 0 -440px;}
.belize{background-position: 0 -461px;}
.benin{background-position: 0 -482px;}
.bermuda{background-position: 0 -503px;}
.bhutan{background-position: 0 -524px;}
.bohemia{background-position: 0 -545px;}
.bolivia{background-position: 0 -566px;}
.bosnia_and_herzegovina{background-position: 0 -587px;}
.botswana{background-position: 0 -608px;}
.bouvet_island, .norway, .svalbard_and_jan_mayen{background-position: 0 -629px;}
.brazil{background-position: 0 -650px;}
.british_india{background-position: 0 -671px;}
.british_indian_ocean_territory{background-position: 0 -691px;}
.british_west_indies{background-position: 0 -712px;}
.brunei_darussalam{background-position: 0 -734px;}
.bulgaria{background-position: 0 -755px;}
.burkina_faso{background-position: 0 -776px;}
.burundi{background-position: 0 -797px;}
.cambodia{background-position: 0 -818px;}
.cameroon{background-position: 0 -839px;}
.canada{background-position: 0 -860px;}
.cape_verde{background-position: 0 -881px;}
.catalonia{background-position: 0 -902px;}
.cayman_islands{background-position: 0 -923px;}
.central_african_republic{background-position: 0 -944px;}
.chad{background-position: 0 -965px;}
.chile{background-position: 0 -986px;}
.china{background-position: 0 -1007px;}
.christmas_island{background-position: 0 -1028px;}
.cocos_islands{background-position: 0 -1049px;}
.colombia{background-position: 0 -1070px;}
.comoros{background-position: 0 -1091px;}
.congo{background-position: 0 -1112px;}
.cook_islands{background-position: 0 -1133px;}
.costa_rica{background-position: 0 -1154px;}
.croatia{background-position: 0 -1175px;}
.cuba{background-position: 0 -1196px;}
.cyprus{background-position: 0 -1217px;}
.czech_rep{background-position: 0 -1238px;}
.czechoslovakia{background-position: 0 -1259px;}
.denmark{background-position: 0 -1280px;}
.djibouti{background-position: 0 -1301px;}
.dominica{background-position: 0 -1322px;}
.dominican_rep{background-position: 0 -1343px;}
.dpr_congo{background-position: 0 -1364px;}
.east_germany{background-position: 0 -1385px;}
.ecuador{background-position: 0 -1407px;}
.egypt{background-position: 0 -1428px;}
.el_salvador{background-position: 0 -1449px;}
.england{background-position: 0 -1470px;}
.equatorial_guinea{background-position: 0 -1491px;}
.eritrea{background-position: 0 -1512px;}
.estonia{background-position: 0 -1533px;}
.ethiopia{background-position: 0 -1554px;}
.europeanunion{background-position: 0 -1575px;}
.falkland_islands{background-position: 0 -1596px;}
.fam{background-position: 0 -1617px;}
.faroe_islands{background-position: 0 -1638px;}
.fiji{background-position: 0 -1659px;}
.finland{background-position: 0 -1680px;}
.france, .french_guiana, .reunion{background-position: 0 -1701px;}
.french_polynesia{background-position: 0 -1722px;}
.french_southern_territories{background-position: 0 -1743px;}
.gabon{background-position: 0 -1764px;}
.gambia{background-position: 0 -1785px;}
.georgia{background-position: 0 -1806px;}
.germany{background-position: 0 -1827px;}
.ghana{background-position: 0 -1848px;}
.gibraltar{background-position: 0 -1869px;}
.greece{background-position: 0 -1890px;}
.greenland{background-position: 0 -1911px;}
.grenada{background-position: 0 -1932px;}
.guadeloupe{background-position: 0 -1953px;}
.guam{background-position: 0 -1974px;}
.guatemala{background-position: 0 -1995px;}
.guinea-bissau{background-position: 0 -2016px;}
.guinea{background-position: 0 -2037px;}
.guyana{background-position: 0 -2058px;}
.haiti{background-position: 0 -2079px;}
.honduras{background-position: 0 -2100px;}
.hong_kong{background-position: 0 -2121px;}
.hungary{background-position: 0 -2142px;}
.iceland{background-position: 0 -2163px;}
.india{background-position: 0 -2184px;}
.indonesia{background-position: 0 -2205px;}
.international_team{background-position: 0 -2226px;}
.iran{background-position: 0 -2247px;}
.iraq{background-position: 0 -2268px;}
.ireland{background-position: 0 -2289px;}
.israel{background-position: 0 -2310px;}
.italy{background-position: 0 -2331px;}
.ivory_coast{background-position: 0 -2352px;}
.jamaica{background-position: 0 -2373px;}
.japan{background-position: 0 -2394px;}
.jordan{background-position: 0 -2415px;}
.kazakhstan{background-position: 0 -2436px;}
.kenya{background-position: 0 -2457px;}
.kiribati{background-position: 0 -2478px;}
.kuwait{background-position: 0 -2499px;}
.kyrgyzstan{background-position: 0 -2520px;}
.lao{background-position: 0 -2541px;}
.latvia{background-position: 0 -2562px;}
.lebanon{background-position: 0 -2583px;}
.lesotho{background-position: 0 -2604px;}
.liberia{background-position: 0 -2625px;}
.libya{background-position: 0 -2646px;}
.liechtenstein{background-position: 0 -2667px;}
.lithuania{background-position: 0 -2688px;}
.luxembourg{background-position: 0 -2709px;}
.macao{background-position: 0 -2730px;}
.macedonia{background-position: 0 -2751px;}
.madagascar{background-position: 0 -2772px;}
.malawi{background-position: 0 -2793px;}
.malaysia{background-position: 0 -2814px;}
.maldives{background-position: 0 -2835px;}
.mali{background-position: 0 -2856px;}
.malta{background-position: 0 -2877px;}
.marshall_islands{background-position: 0 -2898px;}
.martinique{background-position: 0 -2919px;}
.mauritania{background-position: 0 -2940px;}
.mauritius{background-position: 0 -2961px;}
.mayotte{background-position: 0 -2982px;}
.mexico{background-position: 0 -3003px;}
.micronesia{background-position: 0 -3024px;}
.moldova{background-position: 0 -3045px;}
.monaco{background-position: 0 -3066px;}
.mongolia{background-position: 0 -3087px;}
.montenegro{background-position: 0 -3108px;}
.montserrat{background-position: 0 -3130px;}
.morocco{background-position: 0 -3151px;}
.mozambique{background-position: 0 -3172px;}
.myanmar{background-position: 0 -3193px;}
.namibia{background-position: 0 -3214px;}
.nauru{background-position: 0 -3235px;}
.nepal{background-position: 0 -3256px;}
.netherland_antilles{background-position: 0 -3277px;}
.netherlands{background-position: 0 -3298px;}
.new_caledonia{background-position: 0 -3319px;}
.new_zealand{background-position: 0 -3340px;}
.nicaragua{background-position: 0 -3361px;}
.niger{background-position: 0 -3382px;}
.nigeria{background-position: 0 -3403px;}
.niue{background-position: 0 -3424px;}
.norfolk_island{background-position: 0 -3445px;}
.north_korea{background-position: 0 -3466px;}
.northern_mariana_islands{background-position: 0 -3487px;}
.oman{background-position: 0 -3508px;}
.pakistan{background-position: 0 -3529px;}
.palau{background-position: 0 -3550px;}
.palestinian_territory{background-position: 0 -3571px;}
.panama{background-position: 0 -3592px;}
.papua_new_guinea{background-position: 0 -3613px;}
.paraguay{background-position: 0 -3634px;}
.peru{background-position: 0 -3655px;}
.philippines{background-position: 0 -3676px;}
.pitcairn{background-position: 0 -3697px;}
.poland{background-position: 0 -3718px;}
.portugal{background-position: 0 -3739px;}
.puerto_rico{background-position: 0 -3760px;}
.qatar{background-position: 0 -3781px;}
.romania{background-position: 0 -3802px;}
.russia{background-position: 0 -3823px;}
.rwanda{background-position: 0 -3844px;}
.saint_helena_ascension_and_tristan_da_cunha{background-position: 0 -3865px;}
.saint_kitts_and_nevis{background-position: 0 -3886px;}
.saint_lucia{background-position: 0 -3907px;}
.saint_pierre_and_miquelon{background-position: 0 -3928px;}
.saint_vincent_and_the_grenadines{background-position: 0 -3949px;}
.samoa{background-position: 0 -3970px;}
.san_marino{background-position: 0 -3991px;}
.sao_tome_and_principe{background-position: 0 -4012px;}
.saudi_arabia{background-position: 0 -4033px;}
.scotland{background-position: 0 -4054px;}
.senegal{background-position: 0 -4075px;}
.serbia{background-position: 0 -4096px;}
.serbia_and_montenegro_former{background-position: 0 -4117px;}
.seychelles{background-position: 0 -4138px;}
.sierra_leone{background-position: 0 -4159px;}
.singapore{background-position: 0 -4180px;}
.slovak_rep{background-position: 0 -4201px;}
.slovenia{background-position: 0 -4222px;}
.solomon_islands{background-position: 0 -4243px;}
.somalia{background-position: 0 -4264px;}
.south_africa{background-position: 0 -4285px;}
.south_georgia_and_the_south_sandwich_islands{background-position: 0 -4307px;}
.south_korea{background-position: 0 -4328px;}
.soviet_union{background-position: 0 -4349px;}
.spain{background-position: 0 -4371px;}
.sri_lanka{background-position: 0 -4392px;}
.sudan{background-position: 0 -4413px;}
.suriname{background-position: 0 -4434px;}
.swaziland{background-position: 0 -4455px;}
.sweden{background-position: 0 -4476px;}
.switzerland{background-position: 0 -4497px;}
.syria{background-position: 0 -4518px;}
.taiwan{background-position: 0 -4539px;}
.tajikistan{background-position: 0 -4560px;}
.tanzania{background-position: 0 -4581px;}
.thailand{background-position: 0 -4602px;}
.timor-leste{background-position: 0 -4623px;}
.togo{background-position: 0 -4644px;}
.tokelau{background-position: 0 -4665px;}
.tonga{background-position: 0 -4686px;}
.trinidad_and_tobago{background-position: 0 -4707px;}
.trinidad_tobago{background-position: 0 -4728px;}
.tunisia{background-position: 0 -4750px;}
.turkey{background-position: 0 -4771px;}
.turkmenistan{background-position: 0 -4792px;}
.turks_and_caicos_islands{background-position: 0 -4813px;}
.tuvalu{background-position: 0 -4834px;}
.uganda{background-position: 0 -4855px;}
.ukraine{background-position: 0 -4876px;}
.united_arab_emirates{background-position: 0 -4897px;}
.united_kingdom{background-position: 0 -4918px;}
.united_states{background-position: 0 -4939px;}
.united_states_minor_outlying_islands{background-position: 0 -4960px;}
.uruguay{background-position: 0 -4981px;}
.uzbekistan{background-position: 0 -5002px;}
.vanuatu{background-position: 0 -5023px;}
.vatican_city{background-position: 0 -5044px;}
.venezuela{background-position: 0 -5065px;}
.vietnam{background-position: 0 -5086px;}
.virgin_islands_british{background-position: 0 -5107px;}
.virgin_islands_us{background-position: 0 -5128px;}
.wales{background-position: 0 -5149px;}
.wallis_and_futuna{background-position: 0 -5170px;}
.west_germany{background-position: 0 -5191px;}
.western_sahara{background-position: 0 -5213px;}
.yemen{background-position: 0 -5234px;}
.yugoslavia, .yugoslav_federation{background-position: 0 -5255px;}
.zambia{background-position: 0 -5277px;}
.zimbabwe{background-position: 0 -5298px;}